parameters:
	ignoreErrors:
		-
			message: "#^Method Keboola\\\\CsvTable\\\\Table\\:\\:__construct\\(\\) has parameter \\$header with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Keboola/CsvTable/Table.php

		-
			message: "#^Method Keboola\\\\CsvTable\\\\Table\\:\\:addAttributes\\(\\) has parameter \\$attributes with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Keboola/CsvTable/Table.php

		-
			message: "#^Method Keboola\\\\CsvTable\\\\Table\\:\\:getAttributes\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Keboola/CsvTable/Table.php

		-
			message: "#^Method Keboola\\\\CsvTable\\\\Table\\:\\:getHeader\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Keboola/CsvTable/Table.php

		-
			message: "#^Method Keboola\\\\CsvTable\\\\Table\\:\\:getPrimaryKey\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Keboola/CsvTable/Table.php

		-
			message: "#^Method Keboola\\\\CsvTable\\\\Table\\:\\:getPrimaryKey\\(\\) should return array\\|string but returns array\\|string\\|null\\.$#"
			count: 1
			path: src/Keboola/CsvTable/Table.php

		-
			message: "#^Method Keboola\\\\CsvTable\\\\Table\\:\\:setAttributes\\(\\) has parameter \\$attributes with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Keboola/CsvTable/Table.php

		-
			message: "#^Method Keboola\\\\CsvTable\\\\Table\\:\\:setPrimaryKey\\(\\) has parameter \\$primaryKey with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Keboola/CsvTable/Table.php

		-
			message: "#^Property Keboola\\\\CsvTable\\\\Table\\:\\:\\$attributes type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Keboola/CsvTable/Table.php

		-
			message: "#^Property Keboola\\\\CsvTable\\\\Table\\:\\:\\$header type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Keboola/CsvTable/Table.php

		-
			message: "#^Property Keboola\\\\CsvTable\\\\Table\\:\\:\\$primaryKey type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Keboola/CsvTable/Table.php

